@mixin transition($str) {
  -webkit-transition: #{$str};
  -moz-transition: #{$str};
  -ms-transition: #{$str};
  -o-transition: #{$str};
  transition: #{$str};      
}

$logoSize: 60px;
$logoFont: 'Racing Sans One', fantasy;
$logoSubtitleFont: 'Fira Code', monospace;

.logo{
  font-size: 100px;
  line-height: 45px;  
  right: 0;
  padding-top:5px;
  font-family: "Racing Sans One", fantasy;
  text-align: right;
  margin-top: 10px;
  @include transition('all 1s ease-in');
}
.small {
  font-size: 75px;
  line-height: 35px;
  // right: -60px;/
  
}
.logo.box{
  // width:50%;
  position: relative;
  
}
.logo.holder{
  position: fixed;
  width:40vw;
  margin: auto;
  bottom: auto;
  box-sizing: border-box;
  background: rgb(255,255,255);
  z-index: 99;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6615021008403361) 27%, rgba(255,255,255,1) 70%);
}

.logo-row{
  display:block;
  position: relative;
}
.logo-letter{
  position: relative;
}
.logo.subtitle{
  font-family:$logoSubtitleFont;
  position: relative;
  text-align:center;
  font-size: 12px;
  // max-width: 20em;
  line-height:12px;
}

.first-name > span{
  margin-right:2.5em;
}
.last-name > span{
  margin-right: 1.5em
}


.dark-blue-fade {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(7,106,191,0.804359243697479) 48%, rgba(9,9,121,1) 90%);
}
.light-blue-fade {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(7,191,168,0.804359243697479) 45%, rgba(9,9,121,1) 100%);
}
@media only screen and (max-width:800px) {
  .logo.holder{
    width:unset;
    right:0;
    width:100vw;
    height:15vh;
    background-color: #fff;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6615021008403361) 27%, rgba(255,255,255,1) 70%);
  }
  .logo.box {
    position: relative;
    width: 60vw;
    float: right;
  }
}
@media only screen and (max-width:600px) {
  .logo {
    font-size: 4vh;
    line-height: 2vh;
    padding-top: 0;
    z-index:90;
    
  }
  .logo.holder{
    width:unset;
    right:0;
    width:100vw;
    height:8vh;
    background-color: #fff;
  }
  .logo.box {
    position: relative;
    width: 40vw;
    float: right;
  }
  
  .first-name > span{
    margin-right:1em;
  }
  .last-name > span{
    margin-right: 0.5em
  }
  .small {
    font-size: 4vh;
    line-height: 2vh;
    // right: -60px;/
    
  }
  .logo.holder > div > .row {
    margin-bottom:0;
    
    
  }
}