@mixin transition($str) {
  -webkit-transition: #{$str};
  -moz-transition: #{$str};
  -ms-transition: #{$str};
  -o-transition: #{$str};
  transition: #{$str};      
}

.content{
  position: fixed;
  top: 33vh;
  right: -50em;
  padding: 1.5em;
  max-width: 25vw;
  color: white;
  @include transition('all 0.75s ease-in');
}
.content.scroll{
  position: relative;
  right:0;
  top:0;
  max-width: 33vw;
  margin:2.5em;
  float:right;
}
.slide-in {
  right: 2em;
  @include transition('all 0.75s ease-in');
}
// .slide-out {
//   right: -20em;
// }
