@mixin transition($str) {
  -webkit-transition: #{$str};
  -moz-transition: #{$str};
  -ms-transition: #{$str};
  -o-transition: #{$str};
  transition: #{$str};      
}

.no-padding{
  padding: 0;
}
.screen-center {
  top:15%;  
  left:25%;
}
.fade-in {
  opacity:1;
}
.laptop-drawing{
    @include transition('all 1s ease-in');
    
    display:block;
    z-index:999;
    // margin:5% 30%;
  }
  .faded > .laptop-drawing > .laptop-screen-outer {
    opacity:0;
    @include transition('all 1s ease-in-out');
  }
  .fade-in  > .laptop-drawing > .laptop-screen-outer {
    opacity:1;
  }
  .static-screen {
    // content:'';
    overflow:hidden;
    
    
    background: transparent url(https://www.dropbox.com/s/h7ab1c82ctzy83n/noise.png?raw=1) 0 0;
    background-size: 320px 320px;
    opacity: 1;
    animation: noise 3s steps(8,end) 1 both;
    z-index:99;
  }
  // .no-static::before {
  //   opacity:0;
  // }
  @keyframes noise {
    0% {
      opacity:1;
      transform: translateX(0px,0px); }
    10% {
      transform: translate(-100px, 100px);
    }
    20% {
      transform: translate(150px, -100px);
    }
    30% {
      transform: translate(-100px,100px);
    }
    40% {
      transform: translate(100px, -150px);
    }
    50% {
      transform: translate(-100px, 200px);
    }
    60% {
      transform: translate(-200px, -100px);
    }
    70% {
      opacity:0.5;
      transform: translateY(50px, 100px);
    }
    80% {
      transform: translate(100px, -150px);
    }
    90% {
      transform: translate(0px, 200px);
    }
    100% {
      opacity:0;
      transform: translate(-100px, 100px);
    }
  }
  
.laptop-screen-outer {
  height:100%;
  width:100%;
  border: 1px solid #999;
  background-color:#444;
  border-radius: 10px;
  margin:auto;
  position:relative;
  border:1px outset grey;
  
}
  .laptop-screen-inner {
    width:90%;
    height:85%;
    background-color:#000;
    margin:auto;
    margin-top:4%;
    border-radius:5px;
    padding:1%;
    border:2px inset grey;
    font-size:10px;
    position: relative;
    overflow: hidden;
  }
  .laptop-camera{
    position: absolute;
    border-radius:100%;
    border:2px solid black;
    left:50%;
    top: 3%;
  }
  .laptop-camera > div {
    border:1px solid grey;
  }
  
  .laptop-keyboard-base {
    width: 143.5%;
    height: 7%;
    margin-left: -22%;
    margin-top: -0.5%;
    border: 1px solid grey;
    background-color: #bbb;
    background: linear-gradient(180deg, #bababd 0%, #747474 30%, #424242 100%);
    border-radius: 10% 10% 50% 50%;
  }
  
  #cursor {
    height:1em;
    border: 1px solid lawngreen;  
  }
  
  .blink_me {
    animation: blinker 0.5s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .laptop-keyboard {
    padding: 0.5%;
    position: relative;
    z-index: -1;
    width: 118%;
    margin-left: -9%;
    margin-top: -2.3%;
    margin-bottom: 0%;
    background-color: #717171;
    transform: perspective(118px) rotateX(31deg);
    height: 31%;
  }

  .laptop-keys-box{
    width:95%;
    height:75%;
    z-index: -1;
    background-color: #333;
    margin:auto;
    border:1px inset darkgray;
    position: relative;

  }
  .laptop-key {
    position: relative;
    z-index: -1;
    background-color: #333;
    width: 10%;
    height: 1.2em;
    color: #eee;
    font-family: Arial;
    border-bottom: 1px outset #000;
    border-right: 1px outset #000;
    /* border-left: 1px outset #000; */
    border-radius: 10%;
    display: inline-block;
    cursor: pointer;
  }
  .laptop-keys-space.letters{
    width: 76%;
    height: 100%;
    display: inline-block;
  }
  .laptop-keys-row{
    height:1.2em;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .laptop-keys-space.numbers{
    width:23%;
    height:100%;
    display: inline-block;
  }
  .laptop-keys-space.numbers > .laptop-keys-row > .laptop-key{
    width:30%;
    height: 100%;
  }
  .laptop-letter{
    margin-left: 40%;
    font-size: 50%;
    line-height:50%
  }
  .laptop-trackpad{
    width:20%;
    height:30%;
    background-color: #333;
    margin:auto;
    margin-top:0.2%;
    border:1px inset darkgray;
  }

  /* LAPTOP SCREEN */
  @keyframes screen-slide {
    from {
      top:600px;
    }
  }
  .screen-animate{
    position: absolute;
    top:0;
    opacity:0;
    // animation:screen-slide 1s ease-in-out;
    @include transition('all 1s ease-in-out')
    // opacity:0;
    
  }
  .screen-animate.dice, .screen-animate.test {
    opacity:1;
    
  }
  
  
  $titleFont:'Fira Code';
  $txtColor: lawngreen;
  
  .code-text {
    font-family: $titleFont, monospace;
    color:$txtColor;    
  }
  .code-text > .row {
    margin:0;
  }
  .face-pic{
    text-align:left;
    font-size:0.2em;
  }
  #typing{
    
    font-family: monospace;
  }

  .code-title {
    font-size:18px;
  }

  .main-screen {
    text-align: center;
    font-size: 10px;
  }
  .tall-80{
    height: 10em;
  }

  .skill{
    display: inline-flex;
    
    font-size: 1em;
    width: 40%;
    font-family: $titleFont, monospace;
    justify-content: space-between;
    padding: 0.1em;
    margin: 0.2em;
    border-right:none;
    @include transition('font-size 0.8s ease-in');
  }
  .skill-bar{
    position:relative;
    width:35%;
    height:inherit;
    border:2px outset $txtColor;
  }
  .skill-bar-fill{
    position:absolute;
    background-color: #fff;
    background: rgb(205,238,229);
    background: linear-gradient(90deg, rgba(205,238,229,1) 0%, rgba(53,204,157,1) 100%);
    width:0%;
    height:100%;
    z-index:2;
    animation: progress-bar 2s linear;
  }

  @keyframes progress-bar {
    from { width: 0; }
  }

  @media only screen and (max-width: 600px) {
    .fixed {
      position:relative;
    }
    .laptop-drawing{
      z-index: unset;
    }
    .laptop-keyboard {
      padding: 0.5%;
      position: relative;
      z-index: -1;
      width: 118%;
      margin-left: -9%;
      margin-top: -4%;
      margin-bottom: -1%;
      background-color: #717171;
      transform: perspective(118px) rotateX(45deg);
      height: 31%;
    }
    .code-title {
      font-size:12px;
    }
    .skill {
      font-size: 0.9em;
    }
    .face-pic {
      font-size: 0.15em;
    }
    .main-screen > p {
      margin:0;
    }
    .tall-80 {
      height: 8em;
    }
    .no-padding-on-mobile{
      padding: 0;
    }
    .skill-name{
      width:11em;
    }
    .laptop-screen-inner{
      padding: 0;
    }
    .laptop-keys-row {
      height: 0.9em;
      width: 100%;
    }
    .laptop-trackpad {
        width: 20%;
        height: 20%;
        background-color: #333;
        margin: auto;
        margin-top: 1.2%;
        border: 1px inset darkgray;
    }
      .laptop-keys-box {
        width: 95%;
        height: 90%;
        z-index: -1;
        background-color: #333;
        margin: auto;
        border: 1px inset darkgray;
        position: relative;
    }
    
    .laptop-key{
      // height:1em;
    }
  }
  @media only screen and (max-width: 400px) {
    .hide-on-tiny-screens{
      display: none;
    }
    .code-title{
      font-size: 14px;
      text-align:justify;
      padding:1em;
    }
  }