body{ 
  max-width: 100vw;
  overflow-x: hidden;
}
@mixin transition($str) {
  -webkit-transition: #{$str};
  -moz-transition: #{$str};
  -ms-transition: #{$str};
  -o-transition: #{$str};
  transition: #{$str};      
}
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One&display=swap');
.App{
  overflow-x: hidden;
  font-family: 'Fira Code';
  width:100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color:#fff;
}
section{ 
  height:100vh;
}
.absolute {
  position: absolute;
}
.relative {
  position:relative;
}
.fixed {
  position: fixed;
}
.inline {
  display: inline;
}
.text-center {
  text-align: center;
}

.full-height{
  height: 100%;
}

.padded {
  padding:1em;
}
.buffer{
  height:5vh;
}

.full-screen{
  height:90vh;
  width:100vw;
  z-index: -100;
  position: relative;  
  background-size: cover;
}

.outer-textbox {
  height:20em;
  width:30em;
  background-color: white;
  right: -30em;
  @include transition('right 0.6s ease-in-out');
  position: relative  ;

}


.slide-in-right > div  {
  right:0;
}
.footer-bar{
  position:fixed;
  bottom:0;
  width:100vw;
  padding-top:0.5em
}
.page-footer > .container > .row{
  margin-bottom:0;
  padding-bottom:0;
}
.social-media-bar{
  display:flex;
  flex-flow: row-reverse;
}
.social-media-button {
  padding: 0 0.5em 0 0.5em;
  font-size:1.5em;
}